<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hệ thống quản lý thư viện - Thêm người dùng</title>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
</head>
<body>
<th:block th:insert="~{fragments/navigation :: navigation}"></th:block>

<div class="container">
    <h1 class="display-2 text-center mt-2">Thêm người dùng</h1>

    <form class="my-4" method="POST" th:action="@{/users/saveUser}">
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="code">MSV</label>
            <div class="col-sm-10">
                <input class="form-control" id="code" required th:field="*{userPayload.code}" type="text">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="Name">Name</label>
            <div class="col-sm-10">
                <input class="form-control" id="Name" required th:field="*{userPayload.name}" type="text">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="email">Email</label>
            <div class="col-sm-10">
                <input class="form-control" id="email" required th:field="*{userPayload.email}" type="email">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="contactNumber">SĐT liên lạc</label>
            <div class="col-sm-10">
                <input class="form-control" id="contactNumber" required th:field="*{userPayload.contactNumber}"
                       type="tel">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="dateOfBirth">Ngày sinh</label>
            <div class="col-sm-10">
                <input class="form-control" id="dateOfBirth" required th:field="*{userPayload.dateOfBirth}" type="date">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="role">Vai trò</label>
            <div class="col-sm-10">
                <select class="form-select" id="role" th:field="*{userPayload.userRole}">
                    <option th:each="option: ${roleOptions}"
                            th:if="${(#authorization.expression('hasAuthority(''LIBRARIAN'')') and option.name == 'MEMBER') or #authorization.expression('hasAuthority(''ADMIN'')')}"
                            th:text="${option.name}" th:value="${option.name}"
                    ></option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="password">Mật khẩu</label>
            <div class="col-sm-10">
                <input class="form-control" id="password" required th:field="*{userPayload.password}" type="password">
            </div>
        </div>

        <button class="btn btn-lg btn-success" type="submit">Thêm người dùng</button>
    </form>

    <a th:href="@{/users}">Quay lại</a>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

<script type="text/javascript">
    dateOfBirth.max = new Date().toISOString().split("T")[0];
</script>
</body>
</html>
